

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

body {
  background-color: #070724;
  background-image: url('assets/bg.png');
  /* background-image: url('assets/background-stars.svg'); */
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
  
}

:root {
  --Mercury: #419EBB;
  --Venus: #EDA249;
  --Earth: #6D2ED5;
  --Mars: #D14C32;
  --Jupiter: #D83A34;
  --Saturn: #CD5120;
  --Uranus:#1EC1A2;
  --Neptune: #2D68F0;

}

h1, h2 {
  font-family: "Antonio", sans-serif;
}

p {
  font-size: 11px;
  font-weight: 300;
  line-height: 2;
  font-family: "League Spartan", sans-serif;
 
}

.p-mercury {
  background-color: #419EBB;
  color: #419EBB;
}

.p-venus {
  background-color: #EDA249;
  color: #EDA249;
}

.p-earth {
  background-color: #6D2ED5;
  color: #6D2ED5;
}

.p-mars {
  background-color: #D14C32;
  color: #D14C32;
}

.p-jupiter {
  background-color: #D83A34;
  color: #D83A34;
}

.p-saturn {
  background-color: #CD5120;
  color: #CD5120;
}

.p-uranus {
  background-color: #1EC1A2;
  color: #1EC1A2;
}

.p-neptune {
  background-color: #2D68F0;
  color: #2D68F0;
}

.transparent{
  background: transparent;
}

.c-mercury {
  color: #419EBB;
}

.c-venus {

  color: #EDA249;
}

.c-earth {
  color: #6D2ED5;
}

.c-mars {
  color: #D14C32;
}

.c-jupiter {
  color: #D83A34;
}

.c-saturn {
  color: #CD5120;
}

.c-uranus {
  color: #1EC1A2;
}

.c-neptune {
  color: #2D68F0;
}